.green {
  background-color: #004030;
}

.white {
  color: white;
}

footer {
  background-color: #004030;
  color: white;
}

.Murphy-background {
  background: url('murphys-new-background.jpeg') no-repeat center center fixed;
  background-size: cover;
  height: 700px;
  position: relative;
  color: white;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}